/* Write your CSS here. */
.wgs {
    position: relative;
    height: 482px;
    width: 640px;
    display: inline-block;
}

.wgs__mole-head {
    position: absolute;
    height: 356px;
    width: 376px;
    right: 155px;
}

.wgs__dirt-pile {
    position: absolute;
    height: 220px;
    width: 640px;
    bottom: 0;
}

.wgs__mole-head--hidden {

}

