/* Write your CSS here. */

.pf {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wgs {
    position: relative;
    height: 241px;
    width: 320px;
    display: inline-block;
    overflow: hidden;

}

.wgs__mole-head {
    position: absolute;
    height: 178px;
    width: 188px;
    right: 77.5px;
    transition: margin-top 0.25s;
}

.wgs__dirt-pile {
    position: absolute;
    height: 110px;
    width: 320px;
    bottom: 0px;
}

.wgs__mole-head--hidden {
    margin-top: 241px;
}
